body {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #000BB2;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 300;
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

h3, tr {
    color: #9E9E9E;
    font-size: 20px;
    font-weight: 400;
}

tr {
    font-size: 16px;
}

th {
    font-weight: 500;
}

.last {
    text-align: end;
}

.middle {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3F48CC;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#loanStuff {
    display: flex;
    flex-direction: row;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    height: 135px;
    width: calc(100vw - 120px);
    min-width: 240px;
    max-width: 360px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

#loanStuff {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border-radius: 5px;
    border-width: 0;
    text-decoration: none;
    background-color: #52FF04;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;


    font-family: inherit;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.button {
    width: 40px;
    height: 40px;
}

input {
    border: 1px solid #9E9E9E;
    padding: 0;
    padding-left: 10px;

    height: inherit;
    width: 100%;
    box-sizing: border-box;

    margin-right: 15px;

    font-family: inherit;
    color: #9E9E9E;
    font-size: 20px;
    font-weight: 300;
}

#overview {
    position: fixed;
    top: 285px;
    display: flex;
    flex-direction: column;
    background-color: #3F48CC;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    width: inherit;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

#overviewStuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {

    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

#tableContainer {
    background-color: white;
    height: 100%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

th {
    text-align: start;
}

